* {
  border: none;
  font-family: 'JetBrainsMono NFM ExtraBold';
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 25px;
}

window#waybar {
  background: transparent;
}

#custom-arch, #workspaces {
  border-radius: 10px;
  background-color: #11111b;
  color: #cdd6f4;
  margin-top: 10px;
  margin-right: 10px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-arch {
  font-size: 28px;
  margin-left: 15px;
  color: #b4befe;
}

#workspaces button {
  font-size: 45px;
  background: #11111b;
  color: #b4befe;
}

#clock, #backlight, #pulseaudio, #bluetooth, #network, #battery{
  border-radius: 10px;
  background-color: #11111b;
  color: #cdd6f4;
  margin-top: 10px;
  margin-right: 10px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
